<div class="page-section" id="messages">
    <div class="container container-sermons">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Últimos Mensajes</h2>
                <hr class="divider my-4" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div *ngFor="let item of sermons" class="col-lg-3 col-md-4 col-sm-6">
                <div class="card-container">
                    <img class="card-background"
                        src="{{getCoverUrl(item)}}"
                        (click)="openSermonUrl(item)"
                    />
                    <div class="card-actions">
                        <a [routerLink]="" (click)="shareSermonWhatsapp(item)">
                            <img src="assets/icons/whatsapp.png" alt="" />
                        </a>
                    </div>
                    <div class="card-title">
                        <div class="title-header">{{item.snippet.publishedAt | date:'dd/MM/yyyy'}}</div>
                        <div class="title-header">{{item.snippet.title}}</div>
                        <div class="card-body">{{item.snippet.description}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div *ngIf="loadingSermons" class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <a *ngIf="!loadingSermons && sermons.length != totalSermons" class="btn btn-primary btn-xl js-scroll-trigger" (click)="getNextSermons()">Ver más</a>
        </div>
    </div>
    <div class="container container-sermons">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Series</h2>
                <hr class="divider my-4" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div *ngFor="let item of series" class="col-lg-3 col-md-4 col-sm-6">
                <div class="card-container">
                    <img class="card-background"
                        src="{{getCoverUrl(item)}}"
                        (click)="openSerieUrl(item)"
                    />
                    <div class="card-actions">
                        <a [routerLink]="" (click)="shareSerieWhatsapp(item)">
                            <img src="assets/icons/whatsapp.png" alt="" />
                        </a>
                    </div>
                    <div class="card-title">
                        <div class="title-header">{{item.snippet.title}}</div>
                        <div class="card-body">{{item.snippet.description}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div *ngIf="loadingSeries" class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <a *ngIf="!loadingSeries && series.length != (totalSeries - 1)" class="btn btn-primary btn-xl js-scroll-trigger" (click)="getNextSeries()">Ver más</a>
        </div>
    </div>
</div>