<div class="page-section" #meetings>
    <div class="container">
        <h2 class="text-center mt-0">Estás invitado, ¡te esperamos!</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="mt-5">
                    <img class="icon" src="assets/icons/church.png">
                    <h3 class="h4 mb-2">Reunión Principal</h3>
                    <p class="text-muted mb-0">Domingos a las 11h</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="mt-5">
                    <img class="icon" src="assets/icons/bible.png">
                    <h3 class="h4 mb-2">Estudio Bíblico y Oración</h3>
                    <p class="text-muted mb-0">Jueves a las 19h</p>
                </div>
            </div>
        </div>
    </div>
</div>