<div class="page-section" #contact>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Contacta con nosotros</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">Si tienes alguna pregunta o sugerencia, puedes ponerte en contacto con nosotros, o si lo previeferes puede visitarnos. ¡Eres bienvenido!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <img class="icon" src="assets/icons/phone.png">
                <div>(+34) 655265911
                <br />(+34) 673803476</div>
                <br />
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <img class="icon" src="assets/icons/location.png">
                <div>Avenida Jane Bowles 1, Local 3
                <br /> 29011 - Málaga</div>
                <br />
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <img class="icon" src="assets/icons/email.png">
                <a class="d-block" href="mailto:info@ibgracia.es">info@ibgracia.es</a>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <a class="portfolio-box" target="_blank" href="https://www.google.com/maps/place/Iglesia+Bautista+de+la+Gracia/@36.7437224,-4.4280121,17.1z/data=!4m5!3m4!1s0xd72f74488ed24c1:0x3c8a6ce2919d5c8b!8m2!3d36.7436445!4d-4.4268504">
                    <img class="img-fluid" src="assets/map.png" alt="" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">
                            Ver en el mapa
                        </div>
                        <div class="project-name">
                            Iglesia Bautista de la Gracia
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>