@import 'scss/variables.scss';

@import 'bootstrap/scss/bootstrap.scss';

@import 'scss/global.scss';
@import 'scss/masthead.scss';
@import 'scss/navbar.scss';
@import 'scss/portfolio.scss';
@import 'scss/creative.scss';
@import 'scss/card.scss';

.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.map {
    width: 100%;
}